/* RESET */

    * {
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        font-family: 'Merriweather', serif;
        color: #292929;
    }

    a {
        text-decoration: none;
    }

    body {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
    }


   /* TYPOGRAPHY */

    h1, #subtitle, #link-to-mistakes, main {
        width: 50%;
    }

    h1, #subtitle, #link-to-mistakes, img {
        margin: 0 auto;
    }

    h1 {
        font-weight: 400;
        font-size: 2.2em;
    }

    h2, #subtitle, #link-to-mistakes {
        font-family: 'Roboto', sans-serif;
    }

    h2 {
        font-size: 1.8em;
        margin-top: 1.5em;
    }

    p {
        line-height: 2em;
        font-size: 1.15em;
        margin-top: 0.5em;
        margin-bottom: 1.5em;
    }

    #update p {
        margin: 0;
    }

    #update span {
        text-decoration: underline;
    }

    #subtitle, .division {
        font-size: 1.3em;
    }

    #subtitle, #link-to-mistakes a, blockquote p {
        color: #757679;
    }

    #link-to-mistakes {
        font-size: 0.8em;
        text-align: center;
        text-decoration: underline;
    }

    .quote-box pre {
        font-family: 'PT Mono', monospace;
        font-size: 0.9em;
        line-height: 1.5em;
    }


/* HEADER */

    img {
        width: 85%;
        height: auto;
        display: block;
    }   

/* MAIN */

    #division {
        display: block;
        margin: 1.5em auto 3em auto;
        text-align: center;
    }

    #division span {
        font-weight: 800;
        margin: 0 10px;
    }

    #update {
        border-left: 3px solid #292929;
        padding-left: 20px;
        font-style: italic;
        margin-top: 2em;
        position: relative;
        right: 20px;
    }

    blockquote {
        font-size: 1.3em;
        padding: 0 30px;
    }

    .quote-box {
        background-color: #F2F2F2;
        padding: 1em 0 0 0;
        margin: 2.5em 0;
    }
