/* RESET */

        * {
            margin: 0;
            padding: 0;
            scroll-behavior: smooth;
            background-color: #fff;
        }

        a {
            text-decoration: none;
        }

        body {
            width: 100vw;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        header, main {
            width: 50%;
            height: auto;
        }

/* HEADER */



